.contador{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 25rem;
    color: whitesmoke;
    position: absolute;
    display: flex;
    justify-content: space-around
}


.menos{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mas{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 5rem;
    background-color: rgb(89, 90, 88);
    font-size:xx-large;
    text-align: center;
    border: 1px solid whitesmoke;
    
    
}

button{
    border-style: none;
    border-radius: 2px ;
    border: 1px solid whitesmoke;
}
button:hover{
    cursor: pointer;
}