.AgregarCarrito{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
 
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.AgregarCarrito:hover{
    transform: scale(1.1);
}

.divBtnAgregar{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}