.Footer{
 
    position: absolute;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(26, 26, 26);
    height: 4rem;
}