body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: black;
}

.descpricionApi{
  color: whitesmoke;
}

.itemsApi{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item img{
  border-radius: 10px;
}

.ContainerProductos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenidoDetail{
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.descripcionItem{
  width: 30rem;
  font-size: 1.3rem;
  text-align: center;

}

.containerBtn{
  display: flex;
  justify-content: space-around;
}

.contadorgral{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.btn-addcarrito{
  background-color: #198754;
  border-radius: 10px;
  color: black;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.5rem;
}

.img-carrito{
  width: 10rem;
  height: 10rem;
  border-radius: 20%;
}

.card-item-carrito{
  display: flex;
  align-items: center;
  justify-content: center;

}

.carritoIcon{
  width: 2rem;
  height: 2rem;
}